@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

ul, ol {
  margin: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

.d-flex {
  display: flex;
}

.text-center {
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.margin-right-5 {
  margin-right: 1rem;
}

.nowrap {
  flex-wrap: nowrap;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 120px;
}

section#top-section {
  background: url(../images/topbg.jpg) no-repeat;
  max-width: 1440px;
  width: 100%;
  height: 832px;
  background-size: cover;
}

section#top-section .top-title {
  text-align: center;
}

section#top-section .top-title h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  margin-bottom: 18px;
}

section#top-section .top-title p {
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #000000;
  max-width: 621px;
  margin: 0 auto;
}

section#top-section header {
  padding: 25px 140px 0 140px;
  margin-bottom: 105px;
}

section#top-section header nav ul li {
  margin-right: 40px;
}

section#top-section header nav ul li a {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

section#top-section header nav .daily {
  margin-right: 40px;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

section#top-section header nav .phone-num {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #000000;
}

section#basket .basket-right {
  text-align: right;
}

section#basket .basket-right .basket-icon {
  cursor: pointer;
  width: 44px;
  height: 44px;
  box-shadow: -1px 0px 13px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 0px 13px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 13px -1px rgba(0, 0, 0, 0.75);
  padding: 10px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: 120px;
  margin-top: 20px;
}

section#basket .basket-right .basket-icon img {
  width: 100%;
}

section#items .items-title {
  margin-bottom: 90px;
}

section#items .items-title h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  text-align: center;
  color: #000000;
}

section#items .product {
  padding: 0 20px;
  margin-bottom: 44px;
}

section#items .product .item {
  position: relative;
  border-radius: 15px;
  background: #ffffff;
  border: 2px solid #eceef7;
  cursor: pointer;
}

section#items .product .item:hover .item-bottom-icon {
  transform: scale(1.5);
  background: linear-gradient(287.74deg, #f58656 8.52%, #fe5626 92.72%), linear-gradient(180deg, #fe5626 0%, #f23f0e 100%), #59aaf1 !important;
  box-shadow: 0px 4px 8px rgba(205, 71, 41, 0.26);
}

section#items .product .item:hover .item-bottom-icon img {
  filter: brightness(5);
}

section#items .product .item .overlay {
  transition: opacity 0.5s;
  opacity: 0;
  top: 11px;
  position: absolute;
  background: #ffffffe0;
  width: 100%;
  height: 85%;
}

section#items .product .item .overlay .sizes {
  padding: 10px 15px;
}

section#items .product .item .overlay h4, section#items .product .item .overlay .small, section#items .product .item .overlay .medium, section#items .product .item .overlay .big {
  margin-bottom: 10px;
}

section#items .product .item .overlay .add-to-basket-btn {
  margin-top: 20px;
  background: linear-gradient(116.88deg, #fe3326 -4.28%, #f26e0e 112.69%), #59aaf1;
  box-shadow: 0px 4px 8px rgba(205, 71, 41, 0.26);
  border-radius: 3px;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  padding: 5px 20px;
  text-align: center;
  color: #ffffff;
}

section#items .product .item .item-img {
  padding: 8px;
  width: 170px;
  height: 173px;
  margin: 0 auto;
}

section#items .product .item .item-img img {
  width: 100%;
}

section#items .product .item .item-details {
  max-width: 220px;
  padding: 0 25px;
}

section#items .product .item .item-details .item-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  margin-bottom: 8px;
}

section#items .product .item .item-details .item-ingredients {
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  color: #000000;
  margin-bottom: 19px;
}

section#items .product .item .item-details .item-price {
  font-weight: 300;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  color: #121146;
}

section#items .product .item .item-details .item-bottom-icon {
  transition: all 0.5s;
  width: 30px;
  height: 30px;
  padding: 6px;
  border: 2px solid #eceef6;
  border-radius: 50%;
  position: absolute;
  left: 46%;
  top: 99%;
  background: #fff;
}

section#items .product .item .item-details .item-bottom-icon img {
  transition: all 0.5s;
  width: 100%;
}

section#items .product .item .item-bottom-rectangle {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  position: absolute;
  bottom: -18px;
  transform: rotate(45deg);
  background: #ffffff;
  border: 2px solid #eceef7;
  left: 30%;
  z-index: -1;
}
/*# sourceMappingURL=style.css.map */